body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.jumbotron {
  background-color: #fff;
}

#myChart {
  margin-top: 60px;
}

ul {
  list-style: none;
  list-style-position: inside;
}

.list-group a:hover {
  text-decoration: none;
}

#modalButton, #shareButton {
  margin-top: 40px;
}

#exampleAccordion a:hover {
  text-decoration: none;
}