{{> header }}

  {{#if message}}
    <div class="alert alert-danger"> {{message}} </div>
  {{/if}}

  <div class="container">
    
    <form class="col-sm-6 mx-auto" action="/new" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Poll name</label>
        <input type="text" name="name" class="form-control form-control-lg" id="name" placeholder="Name">
      </div>
      <div class="form-group options">
        <label for="exampleInputEmail1">Options</label>
        <input type="text" name="options[1][name]" class="form-control" id="option1" placeholder="Option 1"><br>
        <input type="text" name="options[2][name]" class="form-control" id="option2" placeholder="Option 2"><br>
      </div>
      <button class="btn btn-primary" id="addButton">&#43;</button>
      <button class="btn btn-primary" id="removeButton">&#45;</button>
      <button type="submit" class="float-right btn btn-dark">Add Poll</button>
    </form>
    
  </div>

  <script src="/js/createPoll.js"></script>

{{> footer }}