{{> header }}
  
  <div class="container">
    <h1 class="text-center">All Polls</h1>
    <div class="list-group">
      
    </div>
  </div>
  
  <script src="/js/getPolls.js"></script>
{{> footer }}