{{> header }}

  <div class="container">
    
    <div class="row">
      
      <div class="col-xs-8 mx-auth">
        
        <h1>Poll - <span class='poll-title'></span></h1>
        
        <canvas id="myChart" width="400" height="400"></canvas>

      </div>

    </div>

  </div>

{{> footer }}