{{> header }}

  <div class="container">

    <div class="row">

      <div class="col-xs-8 mx-auto text-center">

        <h1>Poll - <span class='poll-title'></span></h1>
        <h4>Started by <span class="poll-author"></span></h4>
        <div class="output"></div><br>

        <div class="modal fade" id="shareModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Share this poll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>Share this poll with this link:</h5>
                <code><span class="poll-link"></span></code>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>

        <canvas id="myChart" width="400" height="400"></canvas>
        
        <button id="modalButton" type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#votingModal">Vote</button>&nbsp;&nbsp;&nbsp;
        <button data-toggle="modal" data-target="#shareModal" class="btn btn-primary btn-lg" id="shareButton">Share</button>

        <!-- Modal -->
        <div class="modal fade" id="votingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose your vote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="voteButton" class="btn btn-dark">Submit Vote</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="/js/getPollData.js"></script>

{{> footer }}
