{{> header }}

  <div class="container">
    <h1 class="text-center">Your Polls</h1><br>
    <div class="list-group">
      
    </div>
  </div>

  <script src="/js/getOwnPolls.js"></script>

{{> footer }}