{{> header }}

  <div class="container">
    
    <div class="row">
      
      <div class="col-xs-8 mx-auto text-center">
        
        <h1>Poll - <span class='poll-title'></span></h1>
        <h4>Started by <span class="poll-author"></span></h4>
        <div class="output"></div>
        
        <canvas id="myChart" width="400" height="400"></canvas>

      </div>

    </div>

  </div>

{{> footer }}